CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
*.lil
conaninfo.txt
conanbuildinfo.cmake
.DS_Store
*.xcodeproj
*.build
*.vcxproj*
*.opendb
*.sdf
*.sln
*.dir
bin
lib
x64
.vs
Debug
Release